.neonText {
  color: #ffbe48;
  text-shadow:
      0 0 16px #ff8131,
      0 0 32px #FF8131,
      0 0 64px #FF8131,
      0 0 128px #FF8131,
      0 0 256px #FF8131,
      0 0 512px #FF8131;
}

/* Additional styling */

body {
	color: #FF8131
	font-size: 24px;
	font-family: "Courier", monospace;
	background-color: #000;
	background-image: url('bg.png');
	background-repeat: repeat;
}  

h1, h2 {
  text-align: center;
  font-weight: 400;
}
  
h1 {
    font-size: 4.2rem;
	text-transform: uppercase;
	font-family: "Arial Black", sans-serif;
}
  
h2 {
    font-size: 1.8rem;
	font-family: "Times New Roman", serif;
	font-style: italic;
}

.container {
  /* margin-top: 20vh;
  */
  
	font-size: 24px;
	position: relative;
	text-align: center;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}