.neonText {
  color: #ffbe48;
  text-shadow:
      0 0 16px #ff8131,
      0 0 32px #FF8131,
      0 0 64px #FF8131,
      0 0 128px #FF8131,
      0 0 256px #FF8131,
      0 0 512px #FF8131;
}

:root {
	--smellyButts: 30px; /*use with var(--smellyButts)*/
	--cubeSize: 43vw;
	--cubeXpos: 19vw;
	--shelfYpos: 0.7;
}

html {
	overflow: hidden;
	
}

body {
	color: #FF8131
	font-size: 48px;
	font-family: "Courier", monospace;
	background-color: #000;
	background-image: url('bg.png');
	background-repeat: repeat;
}  

h1, h2 {
  text-align: center;
  font-weight: 400;
}
  
h1 {
    font-size: 4.2rem;
	text-transform: uppercase;
	font-family: "Futura Bold", sans-serif;
}
  
h2 {
    font-size: 1.8rem;
	font-family: "ChopinScript Medium", serif;
	font-style: italic;
}

.container {
  /* margin-top: 20vh;
  */
  
	position: relative;
	text-align: center;
}

.center {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.headerImage {
	height: 1080px;
	display: flex;
	width: 100%;
	margin: 0px;
	justify-content: center;
	position: absolute;
	background-size: 1080px;
	background-position: center top;
	background-repeat: no-repeat;
	background-image:url(eru-header.png);
	background-blend-mode: screen;
	top: 0px;
	left: 0px;
}

.contentCube {
	/*border: 3px solid cyan;*/
	position: absolute;
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--cubeSize);
	max-width: 800px;
	/*width: 800px;*/
	height: 1080px;
	background-image: url(eru-contentcube-glow.png);
	background-size: 100%;
	background-position:center;
	background-repeat:no-repeat;
	background-blend-mode: screen;
	
}

.cubeShelf {
	/*border: 3px solid orange;*/
	align-items: center;
	width: 61.25vw;
	display: flex;
	position: absolute;
	top: 568px;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
}